# Core Spark + Delta (for local/dev use)
pyspark==3.5.1
delta-spark==3.2.0

# Data wrangling
pandas==2.2.2
numpy==1.26.4
pyyaml==6.0.2
python-dotenv==1.0.1

# Ingestion
requests==2.32.3
backoff==2.2.1

# Forecasting + Tuning
prophet==1.1.5
cmdstanpy<1.2
optuna==3.6.1
scikit-learn==1.5.2

# Experiment tracking
mlflow==2.16.0

# Dashboard / SQL access
streamlit==1.38.0
plotly==5.24.1
databricks-sql-connector==3.1.0
